:root {
	--background: #f2f6f5;
	--primary: #93B5B3;
	--secodary: #C8DAD3;
}


body {
	background: var(--background);
	font-family: system-ui;
}

.files {
	margin: 10px;
}

.file {
	background: var(--secodary);
	height: 50px;
	margin: 10px;
	border-radius: 5px;

}

.file:hover {
	box-shadow: 0 0 0 0.5px #c4c4c4;
}


.file > p {
	padding: 15px 10px;
	user-select: none;
}



.icon > svg {
	float: right;
	padding: 15px 10px;
	user-select: none;
}

.file > span:hover  {
	width: 10px;
	height: 10px;
	box-shadow: 0 0 0 1px white;
	border-radius: 5px;
	
}



